.partners {
    overflow: hidden;

    &__swiper {
        margin-top: 1.5em;
        @media (min-width: 768px) {
            margin-top: 2.5em;
        }

        .swiper {
            margin: 0 2.5em 0 -1.25em;
            padding-left: 1.25em;
            overflow: visible;

            @media (max-width: 767px) {
                overflow: visible;
            }

            @media (min-width: 768px) {
                min-width: 0;
                margin: 0;
                padding-left: 0;
            }
        }
    }

    &__slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 6em;
        background: $color_white;
        border-radius: 0.625em;
        box-shadow: 0 2px 4px -2px rgba($color_primary, 0.125);

        @media (min-width: 768px) {
            min-height: 10em;
        }
    }

    &__title {
        margin: 0;
		font-family: $second_font_family;
		color: $color_primary;
		line-height: 1.1;
		font-weight: 300;
		font-size: 0.875em;
		text-align: center;
		@media (min-width: 768px) {
			font-size: 1.5em;
		}

    }

    &__desc {
        margin-top: 0.5em;
		text-align: center;
		font-size: 0.75em;
		@media (min-width: 768px) {
			font-size: 1.25em;
		}

    }

    &__pagination {
        position: static;
        margin-top: 1.5em;
        @media (min-width: 768px) {
            margin-top: 2.5em;
        }

    }

}