$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$icon_loupe: "\e900";
$icon_cart: "\e901";
$icon_arrow_right_sm: "\e902";
$icon_arrow_left_sm: "\e903";
$icon_arrow_top_sm: "\e906";
$icon_arrow_bottom_sm: "\e911";
$icon_arrow_right: "\e912";
$icon_arrow_left: "\e913";
$icon_arrow_top: "\e914";
$icon_arrow_bottom: "\e915";
$icon_heart: "\e909";
$icon_location: "\e904";
$icon_clock: "\e905";
$icon_comment: "\e907";
$icon_calendar: "\e908";
$icon_mail: "\e90a";
$icon_man: "\e90b";
$icon_phone: "\e90c";
$icon_instagram: "\e90d";
$icon_facebook: "\e90e";
$icon_youtube: "\e90f";
$icon_yelp: "\e910";

