.breadcrumbs {
	padding-bottom: 0;

	.breadcrumb__back {
		@media (max-width: 767px) {
			display: inline-flex;
			align-items: center;
			gap: 0.375em;
			font-size: 0.8125em;
			color: $color_primary;
			text-decoration: none;

			i {
				font-size: 0.75em;
			}
		}

	}

	.kama_breadcrumbs {
		font-size: 0.75em;
		@media (min-width: 768px) {
		  font-size: 1em;
		}
		
		a {
			text-decoration: none;
		}

		a,
		span {
			color: $color_primary;
		}

		span {
			> a {
				> span {
					font-size: 1em;
				}
			}
		}

		.kb_sep {
			transform: translateY(-0.15em);
			display: inline-block;
			margin: 0 0.75em;

			width: 0.3125em;
			height: 0.3125em;
			background-color: $color_primary;
			border-radius: 100%;
			font-size: 0.6em;
			@media (min-width: 768px) {
				font-size: 1em;
			}

		}

		.kb_title {
			color: $main_color;
		}

	}

}
