.tabs__wrapper {}

.tabs__content{

}

.tabs {
    display: flex;

    gap: 1em;

}



.tab {
    border: 1px solid #000;
    border-radius: 0.25em;
    padding: 0.5em 1em;

    &.active {
        color: red;
    }

    &:hover {
        color: red;
    }
}

.products-grid {
    // border: 1px solid #000;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1em;
    grid-gap: 1em;

    .product-card {
        border: 1px solid $color_warning;
        border-radius: 0.625em;
        padding: 1em;
    }

}