@import 'variables/variables';

// Mixin =======================================================================

// Placeholder for input
@mixin placeholder {
	&::-webkit-input-placeholder {
		@content
	};

	&:-moz-placeholder {
		@content
	};

	&::-moz-placeholder {
		@content
	};

	&:-ms-input-placeholder {
		@content
	};
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
		font-display: swap;
	}
}


%scrollbar {
    overflow-y: auto;
    // overflow: hidden overlay;
    // overflow: overlay;
  
    @media (min-width: 768px) {
        scrollbar-gutter: stable;

		// Firefox
        scrollbar-width: thin;
        scrollbar-color: $color_warning transparent;

        // WebKit (Chrome, Safari, Edge)
        &::-webkit-scrollbar {
            width: 1.25em;
            height: 1.25em;

            &-button {
                display: none;
            }

            &-thumb {
				background: $color_warning;
				border-radius: 1.25em;
				border: 0.5em solid transparent;
				background-clip: content-box;
				min-height: 3em;
            }
        }

        &::-webkit-scrollbar-corner {
            background-color: transparent; 
        }
    }
}
