/* Global variables */
/* ======================================================================== */
$main_font_family: "Roboto";
$second_font_family: "Oswald";
$main_line_height: 1.2;
$main_font_size: 1em;

$container_width: 79.25em;
$container_width_sm: 75.75em;
$aspect-ratio: 3 / 2;


$main_bg: #FCFCFD;

$main_color: #333541;
$color_primary: #9F5434;
$color_warning: #CFA999;
// $color_light: #DFDFE5;
$color_success: #3A7B5A;
$color_info: #5F8B9F;
$color_danger: #C05A5A;

$color_white: #ffffff;
$color_black: #000000;

